@import '~sass-rem';

// variables
$break-large: 1224px;
$break-medium: 1024px;
$break-tablet: 768px;
$break-small: 420px;

$mainFont: 'Montserrat', sans-serif;

// couleur
$default: rgb(122, 122, 122);
$error: #fd4b47;
$warning: #ffc62f;
$success: #1acd67;
$info: #24b3ff;

$dark1: #243040;
$dark2: #2a3646;
$dark3: #3e4a5a;

$light1: #ffffff;
$light1: #f0f0f8;
$light1: #dee5ef;

$rem-baseline: 16px;

html {
  @include rem-baseline;
}

body {
  font-family: $mainFont;
  margin: 0;
  padding: 0;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
